<%- include('../partials/header') %>
    
    <h1>&#128008; <%= Welcome to Cat Facts %></h1>
    <h2><%= catInfo %></h1>

    <br>
    <a href="/cats/fact">Get a new cat fact!</a>
    
  </body>
</html>