<!DOCTYPE html>
<html>
  <head>
    <title><%= Welcome to Cat Facts %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">&#128008; Home &#128008;</a>